<figure class="highcharts-figure">
    <div id="placement-chart-container"></div>
    <p class="highcharts-description"></p>
</figure>

<script>
    let selectedPlacement = 'Duo Placements';

    function selectPlacement(val) {
        selectedPlacement = val;
    }

    function placementInputChange(data, value) {
        let categories = ['A', 'B', 'C', 'D', 'F'];
        let series = ['solo_placements', 'duo_placements', 'trio_placements', 'quad_placements'];
        let chartData = series.map((serie) => {
            let displayName = serie.split('_').map(_.capitalize).join(' ');
            return {
                name: displayName,
                data: generateGradeData(data, serie),
                visible: displayName === selectedPlacement
            }
        });
        console.log(chartData);
        rechartBar('placement-chart-container', "Placement Grades (# of games)", categories, chartData, selectPlacement)
    }

</script>