<figure class="highcharts-figure">
    <div id="stats-chart-container"></div>
    <p class="highcharts-description"></p>
</figure>

<script>

    let selectedStat = 'kdr'

    function selectStat(val) {
        selectedStat = val;
    }
    function statsInputChange(data) {
        let categories = ['A', 'B', 'C', 'D', 'F'];
        let series = ['kdr', 'score', 'kills', 'damage'];
        let chartData = series.map((serie) => {
            return {
                name: serie,
                data: generateGradeData(data, serie),
                visible: serie === selectedStat
            }
        });
        rechartBar('stats-chart-container', "Stats Grades (# of games)", categories, chartData, selectStat)
    }
</script>