@media only screen and (max-width: 1000px) {


    .submit-card.mdl-card{
        width: 90%;
        margin-top: 30px;
        height: 300px;
        margin-left:5%;
        margin-right:5%;
    }
    .demo-card-square.mdl-card {
        width: 90%;
        height: 210px;
        margin-left:5%;
        margin-right:5%;
        margin-bottom: 25px;
    }
    .demo-supporting-text {
        overflow: auto;
    }

    .demo-card-square > .mdl-card__title {
        color: black;
        height: 65px;
        /*background: url('/images/ak-pic.jpeg') center / cover;*/
    }
}

@media only screen and (min-width: 1000px) {

    .submit-card.mdl-card{
        margin-top: 25px;
        margin-bottom: 50px;
        width: 350px;
        height: 300px;
        margin-left: 30%;
        margin-right: 30%;
    }

    .demo-card-square.mdl-card {
        width: 350px;
        height: 210px;
        margin-left: 30%;
        margin-right: 30%;
    }
    .demo-card-square > .mdl-card__title {
        color: black;
        height: 65px;
        /*background: url('/images/ak-pic.jpeg') center / cover;*/
    }
    .demo-supporting-text {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

}