<html>
<head>
    <%- include ('../partials/head') %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include ('../partials/header') %>
    <main class="mdl-layout__content">



    <%- include('../partials/gamer', {gamer: gamer}); %>
    </main>
</div>


</body>
</html>