<html>
<head>
    <%- include ('../partials/head') %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include ('../partials/header') %>
    <main class="mdl-layout__content">
        <div class="page-content">



    <%- include('../partials/gamer', {gamer: gamer}); %>

            <%- include('../partials/gamer_detail', {gamer: gamer}); %>

        </div>
    </main>
</div>


</body>
</html>