<html>
<head>
    <%- include ('../partials/head') %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include ('../partials/header') %>

    <% gamers.map(function(gamer) { %>
        <%- include('../partials/gamer', {gamer: gamer}); %>
    <% }) %>

</div>

</body>
</html>