/* These styles are specific to only this application and will apply to the application as a whole */
@import 'config';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  //background: #333;
  //color: #fafafa;
}

html, body {
  font: normal 100% / 1.65 'Roboto', 'Arial', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--theme-font-link-color);
}

a:hover {
  color: var(--theme-font-link-hover);
}

a:active {
  color: var(--theme-font-link-click);
}

.has-click {
  cursor: pointer;
}

.has-click.click-hover:hover {
  opacity: .85;
}

.has-click.click-hover:active {
  opacity: .7;
}

#section-display {
  padding-top: 25px;
  padding-bottom: 60px;

  background-image: url("./../images/home/smoke-sm.jpeg");
  background-position: cover;
  background-size: cover;
}

#section-display h1.xl {
  font-size: 3em;
  line-height: 100%;
  font-weight: 500;
}

#section-display h1 small {
  font-weight: 300;
  color: $theme-light-gray;
  font-size: .9em;
}

#section-display input {
  opacity: .9;
}

@media (min-width: 576px) {
  #section-display {
    background-image: url("./../images/home/smoke-md.jpeg");
  }
}

@media (min-width: 768px) {
  #section-display {
    padding-top: 75px;
    padding-bottom: 100px;

    background-image: url("./../images/home/smoke-xl.jpeg");
  }


  #section-display h1.xl {
    font-size: 4em;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


//===-=--=-=-=--==--==--=-=-=-===-=--=-=-=--==--==--=-=-=-//
//SECTION OVERVIEW

#section-overview {
  background: var(--theme-background-95);
  padding-top: 60px;
  padding-bottom: 60px;
}

#section-overview .info-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#section-overview .info-container .info-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  #section-overview .info-container {
    display: flex;
    flex-flow: row;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


//===-=--=-=-=--==--==--=-=-=-===-=--=-=-=--==--==--=-=-=-//
//SECTION ABOUT

#section-about {
  padding-top: 75px;
  padding-bottom: 75px;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


//===-=--=-=-=--==--==--=-=-=-===-=--=-=-=--==--==--=-=-=-//
//SECTION-FEATURES

#section-features {
  background: var(--theme-background-95);
}

#section-features .info-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#section-features .info-container .container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#section-features .info-container.accent {
  background-color: var(--theme-background-90);
}

#section-features .info-container .details {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#section-features .info-container .image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 576px) {
  #section-features .info-container .container {
    flex-flow: row wrap;
  }

  #section-features .info-container .details {
    width: 30%;
    margin: 0;
  }

  #section-features .info-container .image {
    width: 60%;
    margin: 0;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


//===-=--=-=-=--==--==--=-=-=-===-=--=-=-=--==--==--=-=-=-//
//SECTION-ACTION

#section-action {
  padding-top: 75px;
  padding-bottom: 75px;
}



@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}