$theme-red: #CC294C;
$theme-orange: #EB5842;
$theme-yellow: #E6AC50;
$theme-green: #30AB6B;
$theme-blue: #4C7BD9;
$theme-purple: #7A49BF;
$theme-pink: #D95779;
$theme-secondary: #4a5950;

$theme-white: #fafafa;
$theme-very-light-gray: #f8f9fa;
$theme-gray-99: darken($theme-white, 1%);
$theme-gray-98: darken($theme-white, 2%);
$theme-gray-95: darken($theme-white, 5%);
$theme-gray-90: darken($theme-white, 10%);
$theme-gray-80: darken($theme-white, 20%);
$theme-light-gray: #999;
$theme-gray: #6c757d;
$theme-dark-gray: #384047;
$theme-black: #333333;

$theme-link: #1671d9;

$theme-error: lighten($theme-red, 10);

$theme-background-color: $theme-black;
$theme-text-color: $theme-gray-98;
$theme-line-break: lighten($theme-background-color, 25);
$theme-border-color: lighten($theme-background-color, 13);
