//$theme-blue: #256bff;
//$theme-green: #22C471;
//$theme-red: #E6123F;
//$theme-yellow: #FFB63F;
//$theme-orange: #FF583E;
//$theme-purple: #7F27DE;
//$theme-pink: #FF3E7C;

$theme-red: #9D3D3D;
$theme-orange: #AF4937;
$theme-yellow: #A78539;
$theme-blue: #435486;
$theme-green: #357B60;
$theme-purple: #723181;
$theme-pink: #AD4474;

$theme-gray: #6c757d;
$theme-light-gray: #999;
$theme-very-light-gray: #f8f9fa;
$theme-gray-90: #e6e6e6;
$theme-gray-80: #cccccc;
$theme-dark-gray: #343a40;
$theme-white: #fff;
$theme-black: #333333;

$theme-link: #1d69bf;

$theme-error: lighten($theme-red, 10);

$theme-background-color: $theme-black;
$theme-text-color: $theme-white;
$theme-line-break: lighten($theme-background-color, 25);
$theme-border-color: lighten($theme-background-color, 13);
