$theme-blue: #256bff;
$theme-green: #22C471;
$theme-red: #E6123F;
$theme-yellow: #FFB63F;
$theme-orange: #FF583E;
$theme-purple: #7F27DE;
$theme-pink: #FF3E7C;
$theme-light-gray: #7F7F7F;
$theme-gray: #6c757d;
$theme-very-light-gray: #f8f9fa;
$theme-gray-90: #e6e6e6;
$theme-gray-80: #cccccc;
$theme-dark-gray: #343a40;
$theme-white: #fff;
$theme-black: #333333;

$theme-link: #007bff;

$theme-status-down: #F37767;
$theme-status-disruption: #FDC02E;
$theme-status-maintenance: #5AB6FA;
$theme-status-resolved: #76CF78;
$theme-status-loading: #ccc;

$theme-error: darken($theme-red, 10);

$theme-background-color: $theme-black;
$theme-text-color: $theme-white;
$theme-line-break: lighten($theme-background-color, 25);